# Dataset
data/
*.tsv
*.csv
*.zip

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Generated outputs
submissions/*
!submissions/.gitkeep

# Experiment outputs
experiments/outputs/